<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net452" />
  <package id="Stimulsoft.Connect.API" version="2023.4.2" targetFramework="net452" />
  <package id="Stimulsoft.LibExcel" version="2022.4.1" targetFramework="net452" />
</packages>